@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #5a5a5a;
}

nav {
  max-width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.nav-links {
  width: 100%;
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #fff;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: black;
}

.btn:hover {
  background-color: #dbdbdb;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 2rem;
}

.blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px #545454;
  z-index: -100;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h4 {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

header .content h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

header .content h1 span {
  color: #9b9b9b;
}

header .content p {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
}

header .image {
  position: relative;
}

header .image img {
  max-width: 600px;
  margin: auto;
}

section .header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}

.projects {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  gap: 2rem;
}

.projects .card {
  background-color: #545454;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3 ease;
}

.projects .card:hover {
  background-color: #5a5a5a;
  border-color: #fff;
}

.projects .card span {
  display: inline-block;
  padding: 2px 9px;
}

.projects .card h4 {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.projects .card p {
  color: #ccc;
  margin-bottom: 1rem;
}

.projects .card a {
  color: #fff;
  transition: all 0.3s ease;
}

.projects .card a:hover {
  color: #5a5a5a;
}

.aboutmeheader {
  position: relative;
  padding-top: 2rem;
  display: grid;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
}

.aboutme1 .card {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  gap: 2rem;
  align-items: center;
  text-align: center;
  border-color: #fff;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat (3, 1fr);
  gap: 2rem;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: #fff;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  justify-content: end;
  top: 6.3rem;
  position: absolute;
  right: 0;
  gap: 1rem;
}

footer .column .socials a {
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 1rem;
  transition: all 0.3 ease;
}

footer .column .socials a:hover {
  color: #545454;
  background-color: #ccc;
  border-color: #ccc;
}

/* tentativa de código responsivo, treinamento */
@media (width< 900px) {
  .nav-links {
    display: none;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .iamge {
    grid-area: 1/1 2/2;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

.to-top {
  background-color: #fff;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #5a5a5a;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.to-top.active {
  bottom: 2rem;
  pointer-events: auto;
  opacity: 1;
}

.contact {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

#closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #ffffff;
}

.container .contact {
  margin: 15% auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #888;
  width: 80%;
}

form {
  background: #ccc;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  color: #5a5a5a;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 30px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #ccc;
}

form button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: black;
}

@media (width< 600px) {
  header .image::before {
    display: none;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
